@media(max-width: 991px){
    html{ font-size: 12px;}
    .slide{height: 340px;}
}
@media(max-width: 767px){
    .top-logo{ margin-left: 20px;}
    .slide{height: 320px;}
    .section-title:before,
    .section-title:after{
        width: 20%;
    }

}
@media(max-width: 600px){
    html{ font-size: 11px;}
    .top-menu-button{
        display: block;
    }
    .top-menu{display: none;}
    .slide{height: 270px;}
    .services__item-image svg{
        width: 90px;
        height: 90px;
    }
}
@media(max-width: 500px){
    .box-modal{
        width: 280px;
    }
    .section-title:before,
    .section-title:after{
        width: 15%;
    }
    .task-skills-wrapper,
    .map-feedback-wrapper{
        width: 80%;
        float: none;
        margin: auto;
    }
    .map{
        margin-top: 15px;
    }
}
@media(max-width: 400px){
    .services__item{
        float: none;
        width: 70%;
        margin: auto;
    }
    .section-title:before,
    .section-title:after{
        display: none;
    }
    .owl-theme .owl-controls{
        right: 5%;
        bottom: 0;
    }
}