@import "reset.css";

html{
    font-size: 14px;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-weight: 400;
}
body{
    background: #fff;
}
/***********************************
*****Common styles and classes******
***********************************/

/*Section title*/
.section-title{
    width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.43rem;
    line-height: 100%;
    font-weight: 300;
    color: #5b6169;
}
.section-title:before,
.section-title:after{
    display: inline-block;
    position: absolute;
    top: 50%;
    content: '';
    width: 30%;
    height: 1px;
    background: #5b6169;
}

.section-title:before{
    left: 0;
}
.section-title:after{
    right: 0;
}


/*************************
**********HEADER**********
*************************/

/*top-header*/
.top-header{
    height: 90px;
    line-height: 90px;
    background: #5b6169;
}
/*top-logo*/
.top-logo{
    float: left;
}
.top-logo__image{
    display: inline-block;
    vertical-align: middle;
}
/*top-menu*/
.top-menu{
    float: right;
}
.top-menu__item{
    display: inline-block;
    margin-right: 30px;
}
.top-menu__link{
    color: #ffffff;
    font-family: 'Myriad Pro', 'Arial','sans-serif';
    font-size: 1.14rem;
    transition: .3s;
}
.top-menu__link:hover,
.top-menu__link:focus,
.top-menu__link:active{
    color: #3674ba;
    text-decoration: none;
}
/*Navigation on small screen devices*/
.top-menu-button{
    float: right;
    margin-top: 23px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background: #3b4149;
    display: none;
    outline: none;
}
.top-menu-button__line{
    width: 60%;
    height: 2px;
    background: #9ba1a9;
    margin-left: auto;
    margin-right: auto;
    transition: .4s;
}
.top-menu-button:hover .top-menu-button__line{
    background: #fff;
}
.top-menu-button__line:nth-child(2){
    margin: 8px auto;
}
.popup-menu__item{
    margin-top: 30px;
}
.popup-menu__link{
    font-size: 1.5rem;
    color: #3b4149;
    transition: .4s;
}
.popup-menu__link:focus,
.popup-menu__link:active,
.popup-menu__link:visited{
    color: #3b4149;
}
.popup-menu__link:hover{
    color: #000000;
}
/*Carousel*/
#owl{
    margin-bottom: 3.8%;
    background: url("../img/slide1-bg.jpg") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.slide{
    height: 440px;
}
.slide .container,
.slide .container .row{
    height: 100%;
}
.slide__image{
    height: 100%;
    position: relative;
}
.slide__image img{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.slide__info-wrapper{
    height: 100%;
    display: table;
}
.slide__info{
    display: table-cell;
    vertical-align: middle;
}
.slide__title{
    margin-bottom: 5.6%;
    color: #ffffff;
    font-size: 3.43rem;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.slide__text{
    margin-bottom: 5.6%;
    color: #335565;
    font-size: 1.29rem;
    font-weight: 300;
}
.slide__button{
    padding: 2.5% 10%;
    background: #73abda;
    color: #ffffff;
    font-size: 1.29rem;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    transition: .3s;
}
.slide__button:hover{
    background: #3674ba;
}
.owl-theme .owl-controls{
    position: absolute;
    right: 10%;
    bottom: 5%;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    background: #3674ba;
}

/***********************
******OUR SERVICES******
***********************/

.services{
    background: #ffffff;
}
.services__list{
    margin-top: 4.4%;
}
.services__item{
    text-align: center;
}
.services__item-image{
    margin-bottom: 8.5px;
}
.services__item-image path{
    fill: #2c2929;
    transition: .4s;
}
.services__item:hover path{
    fill: #3674ba;
}
.services__item-title{
    margin-bottom: 8.5%;
    font-size: 1.57rem;
    text-transform: uppercase;
    color: #3674ba;
}
.services__item-description{
    margin: 0 auto 8.5%;
    width: 90%;
    font-family: "Arial", "sans-serif";
    line-height: 1.3;
}
.services__item-button{
    display: inline-block;
    margin-bottom: 9%;
    padding: 2.5% 10%;
    background: #3674ba;
    color: #ffffff;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    border: 2px solid transparent;
    transition: .4s;
}
.services__item-button:hover,
.services__item-button:active,
.services__item-button:focus{
    color: #ffffff;
    border: 2px solid #3674ba;
    background: #ffffff;
    color: #3674ba;
    text-shadow: none;
}

/**********************
*********ABOUT*********
**********************/
.about{
    background: #d1d1d1;
    padding-bottom: 4.5%;
}
.about .section-title{
    margin: 5.5% 0;
}
/*test-task*/
.test-task__title{
    margin-bottom: 3.5%;
    font: 2.57rem "Myriad Pro", "Arial", 'sans-serif';
    color: #7c7c7c;
}
.test-task__paragraph{
    margin-bottom: 6.8%;
    padding-right: 10px;
    font-family: 'Arial', 'sans-serif';
    line-height: 1.4;
    color: #4e4e4e;
}
/*Skills*/
.skills-title{
    color: #3674ba;
    font: 1.71rem "Myriad Pro", "Arial", "sans-serif";
    text-transform: uppercase;
}
.skill-list__item{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    padding: 0 10px;
    position: relative;
    background: #828181;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 30px;
    z-index: 0;
}
.skill-list__item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3674ba;
    z-index: -1;
}
.skill-list__item.html:before{
    width: 93%;
}
.skill-list__item.css:before{
    width: 94%;
}
.skill-list__item.ps:before{
    width: 90%;
}
.skill-list__item.resp:before{
    width: 88%;
}
/*Map*/
.map{
    margin-bottom: 10px;
}
.map img{
    max-width: 100%;
}
/*Feedback form*/
.feedback{
    position: relative;
    max-height: 249px;
}
.feedback__field{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font: 14px "Open Sans", "Arial", "sans-serif";
    color: #7b7b7b;
    border: none;
}
.feedback__field::-webkit-input-placeholder {color: #7b7b7b; font-size: 14px; font-family: "Open Sans", "Arial", "sans-serif";}
.feedback__field::-moz-placeholder          {color: #7b7b7b; font-size: 14px; font-family: "Open Sans", "Arial", "sans-serif";}/* Firefox 19+ */
.feedback__field:-moz-placeholder           {color: #7b7b7b; font-size: 14px; font-family: "Open Sans", "Arial", "sans-serif";}/* Firefox 18- */
.feedback__field:-ms-input-placeholder      {color: #7b7b7b; font-size: 14px; font-family: "Open Sans", "Arial", "sans-serif";}
.feedback__message{
    resize: none;
    height: 102px;
    margin-bottom: 0;
}
.feedback__button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2.2% 5.5%;
    color: #ffffff;
    background: #3674ba;
    text-transform: uppercase;
    font: 1rem "Open Sans", "Arial", "sans-serif";
}

/***********************
*********FOOTER*********
***********************/

footer{
    background: #ffffff;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
}
.copy{
    padding: 4.4% 0;
    color: #6f6f6f;
    text-align: center;
    font: 0.85rem "Myriad Pro", 'sans-serif';

}



