.box-modal {
	position: relative;
	width: 400px;
    box-sizing: border-box;
	padding: 16px 16px 40px 16px;
	background: rgba(255,255,255,.85);
    color: #4a4a4a;
	/*border-radius: 6px;*/
    text-align: center;
    font-family:  "Open Sans", sans-serif;
}
.box-modal .title{
    margin-top: 35px;
    font-size: 26px;
    font-weight: 700;
}
.box-modal.result .title{
    margin-top: 20px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.box-modal .body{
    width: 250px;
    margin: auto;
}

.box-modal_close {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 15px;
    color: #c8c8c8;
    cursor: pointer;
}
.box-modal_close:before{
    display: block;
    content: '×';
}

.box-modal_close:hover { color: #666; }